/vendor
/node_modules
npm-debug.log
yarn-error.log

.env
.env.backup
.env.production

phpunit.xml
.phpunit.result.cache
.phpunit.cache
.phpunit.cache/*
.phpunit.cache/.gitkeep

Homestead.json
Homestead.yaml
auth.json

.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo

/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
/storage/cache/*

/public/storage
/public/hot
/bootstrap/cache/*

/loan_location_assets/*
